body {
    margin: 0;
    padding: 0;
    background-image: url "C:\Users\User\Desktop\game\level1-img.jpg.jpg";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
